<!DOCTYPE html>
<!--
   Copyright 2023 Liam Breck
   Published at https://github.com/networkimprov/brangr

   This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/
-->
<html><head>
   <title>Karma</title>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="karma.css"/>
   <!--script type="importmap">
   { "imports": { 
      "vue":     "https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js"
   }}
   </script-->
</head><body>
<base target="_blank">

<script>
   var krm = {
      app: null,
      appRoot: null,
      s: { feedRef: {}, screen: -1 },
      kSc: {fe:0, st:1, jo:2, si:3, re:1, br:2, fo:3, ci:4, dj:5},
   };
   window.onload = () => {
      krm.appRoot = krm.app.mount('#krm-app');
   };
   if (!Array.prototype.findLast) // missing in prior Safari
      Array.prototype.findLast = function(iFn) {
         for (var a = this.length-1; a >= 0; --a)
            if (iFn(this[a]))
               return this[a];
         return null;
      };
</script>

<div id="krm-app"><div style="text-align:center; color:tan">
   <h3>Karma Audio Worlds</h3>
   <a style="color:inherit" href="https://github.com/networkimprov/karma">Karma on Github</a>
   <p>Karma is an audio service to uplift and expand all listeners.</p>
</div></div>

<script type="text/x-template" id="krm-main">
   <div style="margin-top:3em"></div>
   <feed v-show="krm.s.screen === krm.kSc.fe"
         @godj="function(c) { if ($refs.finder) $refs.finder.goDj(c) }"
         :id="krm.s.feedRef.file" :name="krm.s.feedRef.name"
         :go="firstStart"/>
   <start v-if="firstStart"
          @ok="firstStart = false"/>
   <finder v-else
           ref="finder"/>
   <div style="margin-top:3em; border-top:1px solid gray; padding-left:0.5em;
               font-family:monospace; white-space:pre-wrap;">
      <a @click.prevent="debug = !debug"
         style="text-decoration:none"
         href="#debug">Debug</a>
      <div v-show="debug">{{logtxt}}</div>
   </div>
   <input ref="clipboard" style="display:none"/>
</script><script type="module">
   import * as Vue from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js"

   krm.s = Vue.reactive(krm.s);

   krm.app = Vue.createApp({
      template: '#krm-main',
      data() { return { debug: false, logtxt: '', scrollPos: {}, scrollKey: null,
                        firstStart: location.search === '?start' } },
      computed: {
         krm() { return krm },
      },
      methods: {
         log(i) { this.logtxt += '\n'+ i },
         setScroll() {
            this.scrollPos[this.scrollKey] = document.scrollingElement.scrollTop;
         },
         scrollFor(iKey) {
            iKey += '';
            document.scrollingElement.scrollTop = this.scrollPos[iKey] || 0;
            this.scrollKey = iKey;
         },
         copy(iTxt) {
            var aEl = this.$refs.clipboard;
            aEl.value = iTxt;
            aEl.style.display = 'inline';
            aEl.select();
            document.execCommand('copy');
            aEl.style.display = 'none';
         },
         xhrGet(iUrl, iFmt, iLog, iCb) {
            var aXhr = new XMLHttpRequest();
            aXhr.responseType = iFmt;
            aXhr.open('GET', iUrl);
            aXhr.onload = c => {
               if (aXhr.status !== 200) {
                  this.log(iLog +' not found: '+ iUrl);
                  return;
               }
               iCb(aXhr.response);
            };
            aXhr.onerror = c => { this.log(iLog +' "'+ iUrl +'" error: '+ c.message) };
            aXhr.send();
         },
      },
   });
</script>

<script type="text/x-template" id="krm-start">
   <div style="position:fixed; left:0.5em; right:0.5em; top:0;
               padding: 0.5em 0; border-bottom: 1px solid gray; background-color:#fff">
      <span v-if="select"
            @click="krm.s.screen = krm.kSc.st"
            class="uipoint uibold"
            >Karma Audio - Sampler</span>
      <span v-else
            @click="krm.s.screen = krm.kSc.fe"
            class="uipoint uibold"
            >Karma Audio - Welcome!</span>
      <div style="position:absolute; right:0; top:0.5em">
         <span v-if="!select"
               @click="krm.s.screen = krm.kSc.jo"
               class="uipoint tabmargr uibold" :class="{tabshow: krm.s.screen === krm.kSc.jo}"
               >Join Karma</span>
         <span @click="krm.s.screen = krm.kSc.si"
               class="uipoint" :class="{tabshow: krm.s.screen === krm.kSc.si}"
               >Sign In</span>
      </div>
   </div>
   <div v-if="select"
        v-show="krm.s.screen === krm.kSc.st">
      <div style="margin-bottom:1em"
           >Select some topics of interest for your first feed<br/>
            (You can add or amend feeds anytime.)
      </div>
      <button @click="krm.s.screen = krm.kSc.fe, select = false, getMix()"
              style="float:right; margin-right:2em"
              >&#x25b6; Listen</button>
      <table><tr>
         <td v-for="aCol in cats">
            <div v-for="a in aCol">
               <label><input type="checkbox" :name="a.name"/>{{a.name}}</label>
            </div></td></tr></table>
   </div>
   <div v-show="krm.s.screen === krm.kSc.jo">
      Full name or alias<br/>
      <input type="text" style="width:12em"/><br/>
      <button @click="$emit('ok')"
              >Sign Up</button>
   </div>
   <div v-show="krm.s.screen === krm.kSc.si">
      <table><tr>
         <td>Account</td>
         <td><input type="text" value="longUserId"
                    style="width:12em"/></td>
      </tr><tr>
         <td>Key</td>
         <td><input type="text" value="randomKey"
                    style="width:12em"/></td>
      </tr></table>
      <button @click="$emit('ok')"
              >Sign In</button>
   </div>
</script><script type="module">
   import * as Vue from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js"

   krm.app.component('start', {
      template: '#krm-start',
      emits: ['ok'],
      data() { return { select: true, cats: null } },
      computed: {
         krm() { return krm },
      },
      created() {
         krm.s.screen = krm.kSc.st;
         this.$root.xhrGet('Cat', 'json', 'categories',  c => { this.cats = c });
      },
      methods: {
         getMix() { this.$root.xhrGet('Mix', 'json', 'audio feed', c => { krm.s.feedRef = c }) },
      },
   });
</script>

<script type="text/x-template" id="krm-finder">
   <div style="position:fixed; left:0.5em; right:0.5em; top:0;
               padding: 0.5em 0; border-bottom: 1px solid gray; background-color:#fff">
      <span @click="krm.s.screen = krm.kSc.fe"
            class="uipoint tabmargr" :class="{tabshow: krm.s.screen === krm.kSc.fe}"
            >Feed</span>
      <span @click="krm.s.screen = krm.kSc.re"
            class="uipoint tabmargr" :class="{tabshow: krm.s.screen === krm.kSc.re}"
            >Recent</span>
      <span @click="krm.s.screen = found ? krm.kSc.fo : krm.kSc.br"
            class="uipoint tabmargr" :class="{tabshow: krm.s.screen === (found ? krm.kSc.fo : krm.kSc.br)}"
            >Browse</span>
      <span @click="krm.s.screen = krm.kSc.ci"
            class="uipoint tabmargr" :class="{tabshow: krm.s.screen === krm.kSc.ci}"
            >Circles</span>
      <span v-show="!!djs"
            @click="krm.s.screen = krm.kSc.dj"
            class="uipoint tabmargr" :class="{tabshow: krm.s.screen === krm.kSc.dj}"
            >DJs</span>
   </div>
   <div v-show="krm.s.screen === krm.kSc.re"
        style="width:5em; padding:0 0 0.5em 3em; border-bottom:1px solid gray; margin-bottom:0.5em">
      <span @click="recSaved = false"
            class="uipoint tabmargr" :class="{tabshow: !recSaved}"
            >All</span>
      <span @click="recSaved = true"
            class="uipoint tabmargr" :class="{tabshow: recSaved}"
            >Saved</span>
   </div>
   <ol v-show="krm.s.screen === krm.kSc.re" v-if="recent">
      <li v-for="(a, aI) in (recSaved ? recent.filter(c => c.saved === true) : recent)"
          @click="recN = aI, krm.s.screen = krm.kSc.fe"
          class="uipoint"
          >{{a.name}}</li>
   </ol>
   <button v-show="krm.s.screen === krm.kSc.br"
           @click="krm.s.screen = krm.kSc.fo, browse()"
           style="float:right; margin-right:1em"
           >Find DJs</button>
   <table v-show="krm.s.screen === krm.kSc.br"><tr>
      <td v-for="aCol in cats">
         <div v-for="a in aCol">
            <label><input type="checkbox" :name="a.name"/>{{a.name}}</label>
         </div></td></tr></table>
   <button v-show="krm.s.screen === krm.kSc.fo"
           @click="krm.s.screen = krm.kSc.br, found = null"
           style="float:right; margin-right:2em; width:2em"
           >&times;</button>
   <div v-show="krm.s.screen === krm.kSc.fo">
      <div v-show="!found"
           >Looking...</div>
      <table v-show="found"
             style="border-spacing:1em 0">
         <tr><th>DJ</th><th>Last Program</th><th>Clips</th><th>Run time</th></tr>
         <tr v-for="a in found">
            <td>{{a.name}}</td>
            <td>{{a.last}}</td>
            <td>{{a.count}}</td>
            <td>{{a.dur}}</td>
         </tr></table>
   </div>
   <div v-show="krm.s.screen === krm.kSc.ci" v-if="circ"
        style="margin-right:0.5em">
      <span v-for="a in circ.circles"
            style="margin-right:0.5em; padding:0.25em; background-color:lightgray"
            :title="memlist(a.members)"
            >{{a.name}} ({{a.members.length}})</span>
      <table style="margin-top:1em; border-spacing:1em 0.25em">
         <tr v-for="a in circ.threads">
            <td>{{a.isNew ? '\u2600' : ' '}}</td>
            <td>{{a.date}}</td>
            <td>{{circName(a.circle)}}</td>
            <td>{{a.count}}</td>
            <td>{{a.topic}}</td>
         </tr></table>
   </div>
   <div v-show="krm.s.screen === krm.kSc.dj"
        style="margin-right:0.5em">
      <div style="display:inline-block; padding:0 0 0.5em 1em; border-bottom:1px solid gray; margin-bottom:0.5em">
         <span v-for="(a, aI) in djs"
               @click="djN = aI"
               class="uipoint tabmargr" :class="{tabshow: djN === aI}"
               >{{a.name}}</span>
      </div>
      <div v-for="(a, aI) in djs"
           v-show="aI === djN">
         <img :src="a.img"
              style="float:right; margin-left:0.5em; max-width:25%"/>
         <h3>{{a.name}}</h3>
         <div style="margin-bottom:0.5em; font-style:italic"
              >{{a.title}}</div>
         Programs
         <table style="margin-left:1em; border-spacing:1em 0">
            <tr v-for="aP in a.progs">
               <td>{{aP.date}}</td>
               <td>{{aP.name}}</td>
               <td>{{aP.count}}</td>
               <td>{{aP.dur}}</td>
            </tr></table>
      </div>
   </div>
</script><script type="module">
   import * as Vue from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js"

   krm.app.component('finder', {
      template: '#krm-finder',
      data() { return { recent: null, recN: 0, recSaved: false, circ: null,
                        cats: null, found: null, djs: null, djN: 0 } },
      computed: {
         krm() { return krm },
      },
      created() {
         krm.s.screen = krm.kSc.fe;
         this.$root.xhrGet('Rec', 'json', 'recent list', c => { this.recent = c });
         this.$root.xhrGet('Cat', 'json', 'categories',  c => { this.cats = c });
         this.$root.xhrGet('Cir', 'json', 'circles',     c => { this.circ = c });
      },
      watch: {
         recent: 'setFeed',
         recN:   'setFeed',
      },
      methods: {
         goDj(iId) {
            const fGo = () => {
               this.djN = this.djs.findIndex(c => c.id === iId);
               krm.s.screen = krm.kSc.dj;
            };
            if (!this.djs)
               this.$root.xhrGet('Djs', 'json', 'djs', c => {
                  this.djs = c;
                  fGo();
               });
            else
               fGo();
         },
         setFeed() { krm.s.feedRef = this.recent[this.recN] },
         memlist(i) {
            var a = '';
            i.forEach(c => { a += c.name +'\n' });
            return a;
         },
         browse() { this.$root.xhrGet('Fnd', 'json', 'found', c => { this.found = c }) },
         circName(i) {
            var aC = this.circ.circles.find(c => c.id === i);
            if (!aC)
               this.$root.log('circle id missing: '+ i);
            return aC ? aC.name : '??';
         },
      },
   });
</script>

<script type="text/x-template" id="krm-feed">
   <div>
      <div v-if="feed"
           style="margin:0 0.5em 1em 0">
         DJs
         <span v-for="a in feed.curators"
               @click="$emit('godj', a.id)" k--="todo: popup dj profile card on firstStart"
               class="uipoint" style="margin-right:0.5em; padding:0.25em; background-color:lightgray"
               >{{a.name}}</span>
      </div>
      <h3>
         <button @click="toggle()"
                 :disabled="state === 'off' && !nextBuf"
                 style="width:2em; float:right; margin-right:2em">
            <span v-show="state === 'run'">&#x2225;</span>
            <span v-show="state !== 'run'">&#x25b6;</span>
         </button>
         <button @click="skip()"
                 :disabled="state !== 'run'"
                 style="width:2em; float:right; margin-right:1em"
                 >&#x276f;&#x276f;</button>
         <div v-show="!nextBuf"
              style="float:right; margin-right:1em; padding:0 0.5em; background-color:lightgray"
              title="Loading clip"
              >&#x2913;</div>
         {{name}} ({{id}})
      </h3>
      <ol v-if="feed"
          style="margin-right:0.5em">
         <li v-for="(a, aI) in feed.clips"
             :style="{border: aI === clipsN ? '1px solid black' : null}"
             >{{a.name}}</li>
      </ol>
   </div>
</script><script type="module">
   import * as Vue from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js"

   krm.app.component('feed', {
      template: '#krm-feed',
      emits: [ 'godj' ],
      props: { id: String, name: String, go: Boolean },
      data() { return { audCtx: new AudioContext(), audSrc: null, state: 'run',
                        feed: null, clipsN: 0, nextBuf: null } },
      created() {
         if (!this.go) {
            this.audSrc = true;
            this.state = 'off';
         }
      },
      watch: {
         id() {
            this.$root.xhrGet(this.id, 'json', 'audio feed', c => {
               this.feed = c;
               this.load(this.clipsN-1);
            });
         },
      },
      methods: {
         toggle() {
            switch (this.state) {
            case 'off': this.start();          this.state = 'run'; break;
            case 'run': this.audCtx.suspend(); this.state = 'sus'; break;
            case 'sus': this.audCtx.resume();  this.state = 'run'; break;
            }
         },
         skip() {
            if (this.state === 'off' || !this.audSrc) {
               this.$root.log('cannot skip when not started');
               return;
            }
            this.audSrc.stop(0);
         },
         start() {
            this.audSrc = this.audCtx.createBufferSource();
            this.audSrc.buffer = this.nextBuf;
            this.audSrc.connect(this.audCtx.destination);
            this.audSrc.onended = c => {
               this.audSrc = null;
               if (++this.clipsN === this.feed.clips.length)
                  this.clipsN = 0;
               if (this.nextBuf)
                  this.start();
            };
            this.nextBuf = null;
            this.audSrc.start(0);
            this.load(this.clipsN);
         },
         load(iN) {
            iN = iN+1 === this.feed.clips.length ? 0 : iN+1;
            this.$root.xhrGet(this.feed.clips[iN].file, 'arraybuffer', 'audio source', cResp => {
               this.audCtx.decodeAudioData(cResp, cBuf => {
                  this.nextBuf = cBuf;
                  if (!this.audSrc)
                     this.start();
               });
            });
         },
      },
   });
</script>


</body></html>
