<!DOCTYPE html>
<!--
   Copyright 2023 Liam Breck
   Published at https://github.com/networkimprov/brangr

   This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/
-->
<html><head>
   <title>Karma</title>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="karma.css"/>
   <!--script type="importmap">
   { "imports": { 
      "vue":     "https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js"
   }}
   </script-->
</head><body>
<base target="_blank">

<script>
   var krm = {
      app: null,
      appRoot: null,
      s: { feedRef: {}, screen: -1 },
      kSc: {fe:0, st:1, jo:2, si:3, re:1, br:2, fo:3, ci:4, dj:5, cu:6},
   };
   window.onload = () => {
      krm.appRoot = krm.app.mount('#krm-app');
   };
   if (!Array.prototype.findLast) // missing in prior Safari
      Array.prototype.findLast = function(iFn) {
         for (var a = this.length-1; a >= 0; --a)
            if (iFn(this[a]))
               return this[a];
         return null;
      };
</script>

<div id="krm-app"><div style="text-align:center; color:tan">
   <h3>Karma Audio Worlds</h3>
   <a style="color:inherit" href="https://github.com/networkimprov/karma">Karma on Github</a>
   <p>Karma is an audio service to uplift and expand all listeners.</p>
</div></div>

<script type="text/x-template" id="krm-main">
   <div style="margin-top:3em"></div>
   <feed v-show="krm.s.screen === krm.kSc.fe"
         @godj="function(c) { if ($refs.finder) $refs.finder.goDj(c) }"
         :id="krm.s.feedRef.id" :name="krm.s.feedRef.name"
         :go="firstStart"
         ref="feed"/>
   <start v-if="firstStart"
          @ok="firstStart = false"/>
   <finder v-else
           @djrev="function(c) { $refs.feed.revDjs(c) }"
           ref="finder"/>
   <div style="margin-top:3em; border-top:1px solid gray; padding-left:0.5em;
               font-family:monospace; white-space:pre-wrap;">
      <a @click.prevent="debug = !debug"
         style="text-decoration:none"
         href="#debug">Debug</a>
      <div v-show="debug">{{logtxt}}</div>
   </div>
   <input ref="clipboard" style="display:none"/>
</script><script type="module">
   import * as Vue from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js"

   krm.s = Vue.reactive(krm.s);

   krm.app = Vue.createApp({
      template: '#krm-main',
      data() { return { debug: false, logtxt: '', scrollPos: {}, scrollKey: null,
                        firstStart: location.search === '?start' } },
      computed: {
         krm() { return krm },
      },
      methods: {
         log(i) { this.logtxt += '\n'+ i },
         setScroll() {
            this.scrollPos[this.scrollKey] = document.scrollingElement.scrollTop;
         },
         scrollFor(iKey) {
            iKey += '';
            document.scrollingElement.scrollTop = this.scrollPos[iKey] || 0;
            this.scrollKey = iKey;
         },
         copy(iTxt) {
            var aEl = this.$refs.clipboard;
            aEl.value = iTxt;
            aEl.style.display = 'inline';
            aEl.select();
            document.execCommand('copy');
            aEl.style.display = 'none';
         },
         xhrGet(iUrl, iFmt, iLog, iCb) {
            var aXhr = new XMLHttpRequest();
            aXhr.responseType = iFmt;
            aXhr.open('GET', iUrl);
            aXhr.onload = c => {
               if (aXhr.status !== 200) {
                  this.log(iLog +' "'+ iUrl +'" '+ aXhr.statusText);
                  return;
               }
               iCb(aXhr.response);
            };
            aXhr.onerror = c => { this.log(iLog +' "'+ iUrl +'" error: '+ c.message) };
            aXhr.send();
            return aXhr;
         },
         xhrPost(iForm, iLog, iCb) {
            if (iForm.method.toLowerCase() !== 'post' || !iForm.action)
               throw new Error('xhrPost: requires method=POST and valid action');
            var aXhr = new XMLHttpRequest();
            aXhr.open('POST', iForm.action);
            aXhr.onload = c => {
               if (aXhr.status !== 200) {
                  this.log(iLog +' "'+ iForm.action +'" '+ aXhr.statusText +': '+ aXhr.responseText);
                  return;
               }
               if (iCb)
                  iCb(aXhr.response);
            };
            aXhr.onerror = c => { this.log(iLog +' "'+ iForm.action +'" error: '+ c.message) };
            aXhr.send(new FormData(iForm));
            return aXhr;
         },
      },
   });
</script>

<script type="text/x-template" id="krm-start">
   <div style="position:fixed; left:0.5em; right:0.5em; top:0;
               padding: 0.5em 0; border-bottom: 1px solid gray; background-color:#fff">
      <span v-if="select"
            @click="krm.s.screen = krm.kSc.st"
            class="uipoint uibold"
            >Karma Audio {{select === 2 ? '- Sampler' : ''}}</span>
      <span v-else
            @click="krm.s.screen = krm.kSc.fe"
            class="uipoint uibold"
            >Karma Audio - Welcome!</span>
      <div style="position:absolute; right:0; top:0.5em">
         <span v-if="!select"
               @click="krm.s.screen = krm.kSc.jo"
               class="uipoint tabmargr uibold" :class="{tabshow: krm.s.screen === krm.kSc.jo}"
               >Join Karma</span>
         <span @click="krm.s.screen = krm.kSc.si"
               class="uipoint" :class="{tabshow: krm.s.screen === krm.kSc.si}"
               >Sign In</span>
      </div>
   </div>
   <div v-if="select"
        v-show="krm.s.screen === krm.kSc.st">
      <template v-if="select === 1">
         <div style="float:left; margin-right:0.5em; height:64px;
                     border:2px solid lightgray; border-radius:50%; background-color:#2020aa;
                     padding:8px; font-size:32px; color:white">
            <span style="vertical-align:middle">KmA</span></div>
         <div style="padding-top:1em; font-style:italic"
              >Where the World Hears Wonders &amp; Wisdom</div>
         <span @click="select = 2"
               class="uilink"
               >Try It!</span>
      </template>
      <template v-else>
         <div style="margin-bottom:1em"
              >Select some topics of interest for your first feed<br/>
               (You can add or amend feeds anytime.)
         </div>
         <button @click="krm.s.screen = krm.kSc.fe, select = 0, getMix()"
                 style="float:right; margin-right:2em"
                 >&#x25b6; Listen</button>
         <table><tr>
            <td v-for="aCol in cats">
               <div v-for="a in aCol">
                  <label><input type="checkbox" :name="a.name"/>{{a.name}}</label>
               </div></td></tr></table>
      </template>
   </div>
   <div v-show="krm.s.screen === krm.kSc.jo">
      Full name or alias<br/>
      <input type="text" style="width:12em"/><br/>
      <button @click="$emit('ok')"
              >Sign Up</button>
   </div>
   <div v-show="krm.s.screen === krm.kSc.si">
      <table><tr>
         <td>Account</td>
         <td><input type="text" value="longUserId"
                    style="width:12em"/></td>
      </tr><tr>
         <td>Key</td>
         <td><input type="text" value="randomKey"
                    style="width:12em"/></td>
      </tr></table>
      <button @click="$emit('ok')"
              >Sign In</button>
   </div>
</script><script type="module">
   import * as Vue from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js"

   krm.app.component('start', {
      template: '#krm-start',
      emits: ['ok'],
      data() { return { select: 1, cats: null } },
      computed: {
         krm() { return krm },
      },
      created() {
         krm.s.screen = krm.kSc.st;
         this.$root.xhrGet('Cat', 'json', 'categories',  c => { this.cats = c });
      },
      methods: {
         getMix() { this.$root.xhrGet('Mix', 'json', 'audio feed', c => { krm.s.feedRef = c }) },
      },
   });
</script>

<script type="text/x-template" id="krm-finder">
   <div style="position:fixed; left:0.5em; right:0.5em; top:0; z-index:10;
               padding: 0.5em 0; border-bottom: 1px solid gray; background-color:#fff">
      <span @click="krm.s.screen = krm.kSc.fe"
            class="uipoint tabmargr" :class="{tabshow: krm.s.screen === krm.kSc.fe}"
            >Feed</span>
      <span @click="krm.s.screen = krm.kSc.re"
            class="uipoint tabmargr" :class="{tabshow: krm.s.screen === krm.kSc.re}"
            >Recent</span>
      <span @click="krm.s.screen = found ? krm.kSc.fo : krm.kSc.br"
            class="uipoint tabmargr" :class="{tabshow: krm.s.screen === (found ? krm.kSc.fo : krm.kSc.br)}"
            >Browse</span>
      <span @click="krm.s.screen = krm.kSc.ci"
            class="uipoint tabmargr" :class="{tabshow: krm.s.screen === krm.kSc.ci}"
            >Circles</span>
      <span v-show="!!djs"
            @click="krm.s.screen = krm.kSc.dj"
            class="uipoint tabmargr" :class="{tabshow: krm.s.screen === krm.kSc.dj}"
            >DJs</span>
      <div style="position:absolute; right:0; top:0.5em">
         <span v-if="act && act.curate" k--="todo: menu if multiple curators"
               @click="krm.s.screen = krm.kSc.cu, goCurate(act.curate[0])"
               class="uipoint tabmargr" :class="{tabshow: krm.s.screen === krm.kSc.cu}"
               >Curate</span>
      </div>
   </div>
   <div v-show="krm.s.screen === krm.kSc.re">
      <div class="tabset2">
         <span @click="recSaved = false"
               :class="{tabshow: !recSaved}"
               >Played</span>
         <span @click="recSaved = true"
               :class="{tabshow: recSaved}"
               >Saved</span>
      </div>
      <div v-show="recSaved">
         <button @click="addFeed()"
                 style="float:right"
                 >&#x2795;</button></div>
      <table v-if="act"
             style="border-spacing:1em 1px">
         <tr><th></th> <th>{{recSaved ? 'Revised' : 'Last played'}}</th> <th>Scheduled</th> <th>DJs</th></tr>
         <tr v-for="a in (recSaved ? act.saved : act.played)" :key="a.id">
            <td><span @click="setPlayed(a), krm.s.screen = krm.kSc.fe"
                      class="uilink"
                      >{{a.name}}</span></td>
            <td>{{recSaved ? a.saved : a.played}}</td>
            <td>{{a.schedule}}</td>
            <td><span v-for="aDj in a.djs"
                      style="margin-right:0.5em; padding:0 0.25em 0.1em; background-color:lightgray"
                      >{{aDj.name}}</span></td>
         </tr>
      </table>
   </div>
   <button v-show="krm.s.screen === krm.kSc.br"
           @click="krm.s.screen = krm.kSc.fo, goBrowse()"
           style="float:right; margin-right:1em"
           >Find DJs</button>
   <table v-show="krm.s.screen === krm.kSc.br"><tr>
      <td v-for="aCol in cats">
         <div v-for="a in aCol">
            <label><input type="checkbox" :name="a.name"/>{{a.name}}</label>
         </div></td></tr></table>
   <span v-show="krm.s.screen === krm.kSc.fo"
         @click="krm.s.screen = krm.kSc.br, found = null"
         class="uilink uibrdr" style="float:right; margin-right:1.5em"
         >&#x2a09;</span>
   <div v-show="krm.s.screen === krm.kSc.fo">
      <div v-show="!found"
           >Looking...</div>
      <table v-show="found"
             style="border-spacing:1em 0">
         <tr><th></th><th>Last Program</th><th>Clips</th><th>Runtime</th></tr>
         <tr v-for="a in found">
            <td><span @click="goDj(a.id)"
                      class="uilink"
                      >{{a.name}}</span></td>
            <td>{{a.last}}</td>
            <td>{{a.count}}</td>
            <td>{{a.dur}}</td>
         </tr></table>
   </div>
   <div v-show="krm.s.screen === krm.kSc.ci" v-if="circ"
        style="margin-right:0.5em">
      <div class="tabset2">
         <span @click="circId = 'new'"
               :class="{tabshow: circId === 'new'}"
               >Latest</span>
         <template v-for="a in circ">
            <span v-if="!a.invite || a.id in circOpen"
                  @click="goCircle(a.id)"
                  :class="{tabshow: circId === a.id}"
                  >{{a.name}}</span></template>
      </div>
      <krm-dropdown ref="circStart"
                    title="Start circle"
                    style="position:absolute; right:0.5em; top:3em">
         <template #icon>&#x2795;</template>
         <form onsubmit="return false"
               method="POST" autocomplete="off">
            <input v-model="circName"
                   placeholder="New circle name"
                   name="name" type="text"
                   style="width:12em; margin-bottom:0.5em"/>
            <button @click="circId = addCircle(circName), circName = '', $refs.circStart.hide()"
                    :disabled="kEmpty.test(circName) || circ.find(c => c.name === circName)"
                    title="Create circle"
                    style="float:right"
                    >&#x2795; Circle</button>
         </form>
      </krm-dropdown>
      <div v-for="(aV, aK, aI) in circOpen"
           v-show="aK === circId">
         <div v-if="aV.invited"
              style="margin-bottom:0.5em; border: 3px solid blue; border-radius:6px; padding:0.5em">
            <span style="font-style:italic"
                  >{{aV.invited.by}} invited you to this group.</span>
            <form onsubmit="return false"
                  method="POST"
                  style="float:right">
               <button @click="aV.invited = aV.members.find(c => c.id === act.id).invited = null"
                       >&#x2795; Join Circle!</button></form>
         </div>
         <div style="margin-bottom:1em">
            <select v-if="aK !== 'new' && !aV.invited"
                    @change="inviteCircleMember(aV, $event.target.value), $event.target.value = ''"
                    title="Invite member"
                    style="float:right">
               <option value=""
                       >&#x2795; Member</option>
               <option v-for="a in ppl"
                       :value="a.id"
                       :disabled="!!aV.members.find(c => c.id === a.id)"
                       >{{a.alias}}</option>
            </select>
            <span v-for="a in aV.members"
                  class="person"
                  :class="{uifade: a.invited}"
                  >{{a.alias}}</span>
         </div>
         <div style="float:right"
              >{{aV.fltrPosts.length}} of {{aV.posts.length}}<!---->
            <krm-dropdown v-if="aK !== 'new' && !aV.invited"
                          @open="circUp[aI].chooseFile()"
                          :ref="function(c) { circPost[aI] = c }"
                          title="Post clip"
                          style="display:inline; margin-left:1em">
               <template #icon>&#x2af7;</template>
               <krm-upload @post="function(c) { addCircleClip(aV, aK, c), circPost[aI].hide() }"
                           @playing="stopClient()"
                           :aud="aud"
                           :ref="function(c) { circUp[aI] = c }"/>
            </krm-dropdown>
         </div>
         <div class="checkset">
            <label v-for="(aFv, aFk) in aV.filter">
               <input @input="aV.filter[aFk] = $event.target.checked,
                              aV.filterCount += aV.filter[aFk] *2-1,
                              aFk && (aV.filter[''] = !aV.filterCount),
                              filterCircle(aV)"
                      :checked="aFv"
                      :disabled="aFk ? aV.filterCount && aV.filter[''] : !aV.filterCount"
                      type="checkbox"/>&nbsp;{{aFk || 'All'}}</label></div>
         <table style="margin-top:1em; border-spacing:1em 0.25em">
            <tr v-for="aP in aV.fltrPosts">
               <td>{{aP.heard ? '' : aP.tags && aP.tags[0] === 'circle_invite' ? '&#x2709;' : '&#x2600;'}}</td>
               <td>{{aP.date}}</td>
               <td v-if="aK === 'new'"
                   @click="goCircle(aP.circle)"
                   class="uilink"
                   >{{circleName(aP.circle)}}</td>
               <td>{{aP.alias}}</td>
               <td><button @click="toggleClient(aP.clip)"
                           >{{clientClip === aP.clip ? '&#x25fc;' : '&#x25b6;'}}</button></td>
               <td class="uifont80 uivalignm uialignr"
                   >{{aP.runtime}}</td>
               <td><span v-for="a in aP.tags"
                         style="margin-right:0.25em; padding:2px; background-color:#f8f8aa"
                         >{{a}}</span></td>
            </tr></table>
      </div>
   </div>
   <div v-show="krm.s.screen === krm.kSc.dj"
        style="margin-right:0.5em">
      <div class="tabset2">
         <span v-for="(a, aI) in djs"
               @click="djN = aI"
               :class="{tabshow: djN === aI}"
               >{{a.name}}</span>
      </div>
      <div v-for="(a, aI) in djs"
           v-show="aI === djN">
         <img :src="a.img"
              style="float:right; margin:0 0 0.5em 0.5em; max-width:25%"/>
         <krm-tofeed @djrev="function(c) { $emit('djrev', c) }"
                     :src="a.id" :srcname="a.name" :feeds="act.saved"
                     style="float:right; clear:right"/>
         <h3>{{a.name}}</h3>
         <div style="margin-bottom:0.5em; font-style:italic"
              >{{a.title}}</div>
         Programs
         <table style="margin-left:1em; border-spacing:1em 0">
            <tr v-for="aP in a.progs">
               <td>{{aP.date}}</td>
               <td>{{aP.name}}</td>
               <td>{{aP.count}}</td>
               <td class="uialignr"
                   >{{aP.dur}}</td>
            </tr></table>
      </div>
   </div>
   <audio v-if="circ || curId"
          @pause="clientClip = null"
          @ended="clientClip = null"
          preload="none"
          ref="audioClient"/>
   <div v-if="curId in curators"
        v-show="krm.s.screen === krm.kSc.cu"
        style="margin-right:0.5em">
      <div class="tabset2">
         <span @click="curate.openId = 'home'"
               :class="{tabshow: curate.openId === 'home'}"
               >Home</span>
         <span @click="curate.openId = 'lib'"
               :class="{tabshow: curate.openId === 'lib'}"
               >Library</span>
         <span v-for="aP in curate.open"
               @click="curate.openId = aP.id"
               :class="{tabshow: curate.openId === aP.id}"
               >{{aP.edit && aP.edit.name || aP.name}}</span>
      </div>
      <div v-show="curate.openId === 'home'">
         <img :src="curate.img"
              style="float:right; margin-left:0.5em; max-width:25%"/>
         <h3>{{curate.name}} ({{curate.id}})</h3>
         <div style="float:right; clear:right">
            <button v-if="!curate.edit"
                    @click="curate.edit = curate.title"
                    title="Edit profile"
                    >Edit</button>
            <button v-else
                    @click="curate.title = curate.edit, curate.edit = false"
                    title="Cancel edits"
                    style="margin-right:0.5em"
                    >&#x2a09;</button>
         </div>
         <div v-show="!curate.edit"
              class="uitalic"
              >{{curate.title}}</div>
         <form v-if="curate.edit"
               onsubmit="false" @submit="curate.edit = false"
               method="POST">
            <input v-model="curate.title"
                   @keydown.enter="kEmpty.test(curate.title) && $event.preventDefault()"
                   placeholder="Slogan or mission statement"
                   name="title" type="text"
                   style="width:70%"/></form>
         <table style="margin:1em 0; border-spacing:1em 0">
            <tr><td>
               <form onsubmit="return false"
                     method="POST">
                  <button @click="addProg()" k--="todo: focus input field"
                          title="New program"
                          >&#x2795; Program</button></form></td></tr>
            <tr><th></th><th>Updated</th><th>Count</th><th>Runtime</th></tr>
            <tr v-for="aP in curProgSort" :key="aP.id">
               <td v-if="aP.status === 'pend'"
                   colspan="4">
                  <form onsubmit="return false" @submit="aP.status = 'empty'"
                        method="POST">
                     <input v-model="aP.name"
                            @keydown.enter="checkProgName(aP) || $event.preventDefault()"
                               k--="todo: localeCompare and move to @submit"
                            placeholder="Program name"
                            name="name" type="text"
                            style="width:14em"/></form></td>
               <template v-else>
                  <td><span @click="openProg(aP), curate.openId = aP.id"
                            class="uilink uishowspc"
                            >{{aP.edit && aP.edit.name || aP.name}}</span></td>
                  <td>{{aP.date}}</td>
                  <td class="uialignr"
                      >{{aP.count}}</td>
                  <td class="uialignr"
                      >{{aP.dur}}</td>
               </template>
               <td v-if="aP.status === 'pend'"
                   class="uialignr">
                  <form onsubmit="return false"
                        method="POST">
                     <button @click="delete curate.progs[aP.id]"
                             title="Drop program"
                             >&#x2a09;</button></form></td>
               <td v-else-if="aP.status"
                   class="uitalic"
                   >{{aP.status}}</td>
            </tr>
         </table>
      </div>
      <div v-show="curate.openId === 'lib'">
         <krm-upload @post="addClip"
                     @playing="stopClient()"
                     :aud="aud"
                     style="margin-bottom:0.5em"/>
         <table style="border-spacing:1em 0">
            <tr><th>Title</th><th>Artist</th><th>Released</th></tr>
            <template v-for="aC in curClipSort">
               <tr>
                  <td>{{aC.name}}</td>
                  <td>{{aC.artist}}</td>
                  <td>{{aC.date}}</td>
                  <td><button v-if="aC.file"
                              @click="toggleClient(aC)"
                              >{{clientClip === aC ? '&#x25fc;' : '&#x25b6;'}}</button></td>
                  <td class="uifont80 uivalignm uialignr"
                      >{{aC.dur}}</td>
               </tr>
               <tr v-for="(aSub, aSubi) in aC.set">
                  <td colspan="3"
                      >&nbsp; {{aSubi+1}}. <em>{{aSub.name}}</em></td>
                  <td><button @click="toggleClient(aSub)"
                              >{{clientClip === aSub ? '&#x25fc;' : '&#x25b6;'}}</button></td>
                  <td class="uifont80 uivalignm uialignr"
                      >{{aSub.dur}}</td>
               </tr>
            </template>
         </table>
      </div>
      <div v-for="aP in curate.open"
           v-show="curate.openId === aP.id">
         <div style="float:right">
            <button v-if="!aP.edit"
                    @click="aP.edit = {name: aP.name, desc: aP.desc}"
                    title="Edit name & description"
                    >Edit</button>
            <button v-else
                    @click="aP.edit.name && (aP.name = aP.edit.name), aP.desc = aP.edit.desc, aP.edit = null"
                    title="Cancel edits"
                    style="margin-right:0.5em"
                    >&#x2a09;</button>
         </div>
         <h4 v-show="!aP.edit || !aP.edit.name"
             style="margin-top:1em"
             >{{aP.name}}</h4>
         <span v-if="aP.desc"
               v-show="!aP.edit"
               class="uitalic"
               >{{aP.desc}}</span>
         <button v-else
                 v-show="!aP.edit"
                 @click="aP.edit = {desc: ''}"
                 title="Add description"
                 >&#x2795; Description</button>
         <form v-if="aP.edit"
               onsubmit="return false"
               method="POST"
               style="margin-top:1em">
            <div style="height:0; overflow:hidden">
               <button @click="checkProgName(aP) && !/^\s+$/.test(aP.desc) && (aP.edit = null)"></button></div>
            <input v-if="aP.edit.name"
                   v-model="aP.name"
                   placeholder="Program name"
                   name="name" type="text"
                   style="margin-bottom:1em; width:14em"/>
            <div></div>
            <input v-model="aP.desc"
                   placeholder="Description"
                   name="desc" type="text"
                   style="width:26em"/>
         </form>
         <table style="margin-top:1em; border-spacing:1em 0">
            <tr>
               <td colspan="6">
                  <form onsubmit="return false"
                        method="POST"
                        style="float:right">
                     <span v-show="aP.hidden"
                           style="margin-right:1em"
                           >{{aP.hidden}}&nbsp;hidden</span>
                     <button @click="aP.clips.forEach(c => { if (c.status === 'unpub') c.status = '' }),
                                     aP.status = ''"
                             :disabled="!aP.clips || aP.clips.every(c => c.status !== 'unpub')"
                             title="Post draft clips"
                             >&#x266c; Post</button></form>
                  <form onsubmit="return false"
                        method="POST"
                        style="float:left; margin-right:1em">
                     <select @change="addProgClip(aP, $event.target.value), $event.target.value = ''"
                             title="Add clip from Library">
                        <option value="">&#x2795; Clip...</option>
                        <template v-for="(aV, aK) in curate.clips">
                           <option :value="aK"
                                   >{{aV.name}}, {{aV.artist}}</option>
                           <option v-for="(aSub, aSubi) in aV.set"
                                   :value="aK +'.'+ aSubi"
                                   >&nbsp; {{aSubi+1}}. <em>{{aSub.name}}</em></option>
                        </template>
                     </select></form>
               </td></tr>
            <tr v-if="aP.clips && aP.clips.length">
               <th>Title</th><th>Artist</th><th>Released</th></tr>
            <tr v-else>
               <th>(No clips)</th></tr>
            <tr v-for="(a, aI) in aP.clips"
                :class="{inunpub: a.status === 'unpub', inhide: a.status === 'hide'}">
               <td>{{a.name}}</td>
               <td>{{a.artist}}</td>
               <td>{{a.date}}</td>
               <td><button @click="toggleClient(a)"
                           >{{clientClip === a ? '&#x25fc;' : '&#x25b6;'}}</button></td>
               <td class="uifont80 uivalignm uialignr"
                   >{{a.dur}}</td>
               <td>
                  <form v-if="a.status === 'unpub'"
                        onsubmit="return false"
                        method="POST">
                     <button @click="aP.clips.splice(aI, 1),
                                     aP.clips.length ? aP.clips[0].status !== 'unpub' && (aP.status = '')
                                                     : aP.status = 'empty'"
                             :disabled="clientClip === a"
                             title="Drop clip"
                             >&#x274c;</button></form>
                  <form v-else
                        onsubmit="return false"
                        method="POST">
                     <button @click="a.status = !a.status ? 'hide' : '',
                                     aP.hidden += (a.status === 'hide') *2 -1"
                             :title="(!a.status ? 'Hide' : 'Publish') +' clip'"
                             >{{a.status === '' ? '&#x26d4;' : '&#x266c;'}}</button></form>
               </td>
            </tr>
         </table>
      </div>
   </div>
</script><script type="module">
   import * as Vue from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js"

   krm.app.component('finder', {
      template: '#krm-finder',
      emits: [ 'djrev' ],
      data() { return { clientClip: null, //todo must be array? pop() in client @ended & @pause events
                        act: null, recSaved: false,
                        circ: null, circOpen: {}, circId: 'new', circName: '', circPost: [], circUp: [],
                        cats: null, found: null,
                        djs: null, djN: 0,
                        curators: {}, curId: '',
                        aud: {ctx: new AudioContext(), src: null}, //todo: only for curator & circles
                      } },
      computed: {
         curate() { return this.curators[this.curId] },
         curProgSort() {
            return Object.values(this.curate.progs).sort(
               (cA, cB) => cA.date > cB.date ? -1 : cA.date < cB.date ? 1 : 0 );
         },
         curClipSort() {
            return Object.values(this.curate.clips).sort(
               (cA, cB) => cA.date > cB.date ? -1 : cA.date < cB.date ? 1 : 0 );
         },
         kEmpty() { return /^\s*$/ },
         krm() { return krm },
      },
      created() {
         krm.s.screen = krm.kSc.fe;
         this.$root.xhrGet('Act', 'json', 'account',     c => { this.act = c });
         this.$root.xhrGet('Cat', 'json', 'categories',  c => { this.cats = c });
         this.$root.xhrGet('Cir', 'json', 'circles',     c => {
            this.ppl = c.contacts;
            this.circ = c.circles;
            this.circN = c.circles.length; //todo temporary
            this.filterCircle(c);
            this.circOpen.new = c;
         });
      },
      watch: {
         'act.played': {
            deep: true,
            handler() { krm.s.feedRef = this.act.played[0] }
         },
      },
      methods: {
         toggleClient(iClip) {
            if (iClip !== this.clientClip) {
               if (this.aud.src)
                  this.aud.src.stop(0);
               let aUrl = 'https://cdn.pixabay.com/download/audio/2020/08/14/audio_4ad28ef70b.mp3'; //todo: temporary
               this.$refs.audioClient.src = aUrl; // iClip.file
               this.$refs.audioClient.load();
               this.$refs.audioClient.play();
               this.clientClip = iClip;
            } else {
               this.$refs.audioClient.pause();
            }
         },
         stopClient() {
            if (this.clientClip)
               this.$refs.audioClient.pause();
         },
         setPlayed(iFeed) {
            var aPos = this.act.played.findIndex(c => c.id === iFeed.id);
            if (aPos === 0)
               return;
            if (aPos > 0)
               this.act.played.splice(aPos, 1);
            this.act.played.unshift(iFeed);
            this.act.played[0].played = 'Today';
         },
         addFeed() {
            this.act.saved.unshift({name: 'Untitled', id: 'Fxx', saved: 'Today', played: null,
                                    schedule: null, djs: []});
         },
         goBrowse() {
            this.$root.xhrGet('Fnd', 'json', 'found', c => { this.found = c });
         },
         addCircle(iName) {
            var aId = 'Thr'+ ++this.circN;
            this.circ.unshift({name: iName, id: aId, count: 0});
            this.circOpen[aId] = { members: [{alias: this.act.alias, id: this.act.id}],
                                   filter: {'': true}, filterCount: 0, posts: [], fltrPosts: [] };
            return aId;
         },
         inviteCircleMember(iC, iId) {
            var aM = this.ppl.find(c => c.id === iId);
            iC.members.push({alias: aM.alias, id: aM.id, invited: {by: this.act.alias, date: 'Today'}});
         },
         addCircleClip(iC, iId, iUp) {
            let aClip = this.newLibClip(iUp);
            iC.posts.unshift({ circle: iId, date: 'Today', alias: this.act.alias, tags: [], heard: true,
                               runtime: aClip.dur, clip: aClip });
            this.filterCircle(iC);
            this.circOpen.new.posts.unshift(iC.posts[0]);
            this.filterCircle(this.circOpen.new);
         },
         circleName(i) {
            var aC = this.circ.find(c => c.id === i);
            if (!aC)
               this.$root.log('circle id missing: '+ i);
            return aC ? aC.name : '??';
         },
         goCircle(iId) {
            if (iId in this.circOpen)
               this.circId = iId;
            else
               this.$root.xhrGet(iId, 'json', 'circle', c => {
                  if (c.invited)
                     c.invited = c.members.find(cM => cM.id === this.act.id).invited;
                  this.filterCircle(c);
                  this.circOpen[iId] = c;
                  this.circId = iId;
               });
         },
         filterCircle(iC) {
            if (iC.filter['']) {
               iC.fltrPosts = iC.posts;
               return;
            }
            iC.fltrPosts = iC.posts.filter(cP => {
               for (let aTag in iC.filter)
                  if (aTag && iC.filter[aTag] && cP.tags.find(cT => cT === aTag))
                     return true;
               return false;
            });
         },
         goDj(iId) {
            const fGo = () => {
               this.djN = this.djs.findIndex(c => c.id === iId);
               krm.s.screen = krm.kSc.dj;
            };
            if (this.djs)
               fGo();
            else
               this.$root.xhrGet('Djs', 'json', 'djs', c => {
                  this.djs = c;
                  fGo();
               });
         },
         goCurate(iId) {
            if (iId in this.curators)
               this.curId = iId;
            else
               this.$root.xhrGet(iId, 'json', 'curator', c => {
                  this.curators[iId] = c;
                  this.curId = iId;
                  this.curate.progN = this.curProgSort.length; //todo: temporary
                  this.curate.clipN = this.curClipSort.length;
                  this.curate.open = this.curate.open.map(c => this.curate.progs[c]);
                  this.curate.open.forEach(c => { this.makeClips(c) });
               });
         },
         addProg() {
            var aId = 'P'+ ++this.curate.progN;
            this.curate.progs[aId] =
               {id: aId, name: '', date: 'Today', count: 0, dur: 0, clips: null, status: 'pend'};
         },
         checkProgName(iP) {
            return !(this.kEmpty.test(iP.name) ||
                     this.curProgSort.find(c => c.id !== iP.id && c.name === iP.name));
         },
         addClip(iUp) {
            this.curate.clips['Clu'+ ++this.curate.clipN] = this.newLibClip(iUp);
         },
         newLibClip(iUp) {
            let aSum = iUp.set.reduce((cA, c) => cA + c.buf.duration, 0);
            return { name: iUp.name, artist: iUp.artist, date: iUp.date,
                     dur: Math.round(aSum), file: iUp.set[0].file };
         },
         openProg(iP) {
            if (this.curate.open.find(c => c.id === iP.id))
               return;
            this.curate.open.push(iP);
            this.makeClips(iP);
         },
         addProgClip(iP, iC) {
            if (!iC)
               return;
            if (!iP.clips)
               iP.clips = [];
            iP.clips.unshift(this.makeClip('+'+ iC));
            iP.status = 'unpub';
         },
         makeClips(iProg) {
            if (iProg.clips) {
               iProg.clips = iProg.clips.map(c => this.makeClip(c));
               iProg.hidden = iProg.clips.reduce((cA, c) => cA + (c.status === 'hide') *1, 0);
            }
         },
         makeClip(iId) {
            var aStat;
            switch (iId.charAt(0)) {
            case '+': aStat = 'unpub'; break;
            case '-': aStat = 'hide';  break;
            case '=': aStat = '';      break;
            }
            iId = iId.substring(1);
            var aPkg, aSub, aDot = iId.indexOf('.');
            if (aDot < 0) {
               aPkg = aSub = this.curate.clips[iId];
            } else {
               aPkg = this.curate.clips[iId.substring(0, aDot)];
               aSub = aPkg.set[iId.substring(aDot+1)*1];
            }
            return {id: iId, name: aSub.name, artist: aPkg.artist, date: aPkg.date,
                    dur: aSub.dur, file: aSub.file, status: aStat};
         },
      },
   });
</script>

<script type="text/x-template" id="krm-feed">
   <div>
      <div v-if="feed"
           style="margin:0 0.5em 1em 0">
         DJs
         <span v-for="a in feed.curators"
               @click="$emit('godj', a.id)" k--="todo: popup dj profile card on firstStart"
               class="uipoint" style="margin-right:0.5em; padding:0.25em; background-color:lightgray"
               >{{a.name}}</span>
      </div>
      <h3>
         <button @click="toggle()"
                 :disabled="state === 'off' && !nextBuf"
                 style="width:2em; float:right; margin-right:2em">
            <span v-show="state === 'run'">&#x2225;</span>
            <span v-show="state !== 'run'">&#x25b6;</span>
         </button>
         <button @click="skip()"
                 :disabled="state !== 'run'"
                 style="width:2em; float:right; margin-right:1em"
                 >&#x276f;&#x276f;</button>
         <div v-show="!nextBuf"
              style="float:right; margin-right:1em; padding:0 0.5em; background-color:lightgray"
              title="Loading clip"
              >&#x2913;</div>
         {{name}} ({{id}})
      </h3>
      <table v-if="feed"
             style="border-spacing:1em 0">
         <tr><th></th><th>Artist</th><th>DJ</th><th>Released</th><th>Runs</th></tr>
         <tr v-for="(a, aI) in feed.clips"
             :style="{outline: aI === clipsN ? '1px solid black' : null}">
            <td>{{a.name}}</td>
            <td>{{a.artist}}</td>
            <td>{{djName(a.dj)}}</td>
            <td>{{a.date}}</td>
            <td class="uialignr"
                >{{a.dur}}</td>
         </tr>
      </table>
   </div>
</script><script type="module">
   import * as Vue from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js"

   krm.app.component('feed', {
      template: '#krm-feed',
      emits: [ 'godj' ],
      props: { id: String, name: String, go: Boolean },
      data() { return { audCtx: new AudioContext(), audSrc: null, state: 'run',
                        feed: null, clipsN: 0,
                        xhr: null, nextBuf: null } },
      created() {
         if (!this.go) {
            this.audSrc = true;
            this.state = 'off';
         }
      },
      watch: {
         id() {
            const fGet = () => {
               this.xhr = this.$root.xhrGet(this.id, 'json', 'audio feed', c => {
                  this.xhr = null;
                  this.feed = c;
                  this.load(this.clipsN-1);
               });
            };
            if (this.xhr) {
               this.xhr.abort();
               this.xhr = null;
            }
            this.nextBuf = null;
            if (!this.feed || this.state === 'off') {
               fGet();
            } else {
               if (this.audSrc)
                  this.audSrc.stop();
               if (this.state === 'sus')
                  this.audCtx.resume();
               this.state = 'off';
               setTimeout(() => { // wait for audSrc.onended to run
                  this.clipsN = 0;
                  this.audSrc = true;
                  fGet();
               }, 300);
            }
         },
      },
      methods: {
         toggle() {
            switch (this.state) {
            case 'off': this.start();          this.state = 'run'; break;
            case 'run': this.audCtx.suspend(); this.state = 'sus'; break;
            case 'sus': this.audCtx.resume();  this.state = 'run'; break;
            }
         },
         skip() {
            if (this.state === 'off' || !this.audSrc) {
               this.$root.log('cannot skip when not started');
               return;
            }
            this.audSrc.stop(0);
         },
         start() {
            this.audSrc = this.audCtx.createBufferSource();
            this.audSrc.buffer = this.nextBuf;
            this.audSrc.connect(this.audCtx.destination);
            this.audSrc.onended = c => {
               this.audSrc = null;
               if (++this.clipsN === this.feed.clips.length)
                  this.clipsN = 0;
               if (this.nextBuf)
                  this.start();
            };
            this.nextBuf = null;
            this.audSrc.start(0);
            this.load(this.clipsN);
         },
         load(iN) {
            iN = iN+1 === this.feed.clips.length ? 0 : iN+1;
            this.xhr = this.$root.xhrGet(this.feed.clips[iN].file, 'arraybuffer', 'audio source', cResp => {
               this.xhr = null;
               this.audCtx.decodeAudioData(cResp, cBuf => {
                  this.nextBuf = cBuf;
                  if (!this.audSrc)
                     this.start();
               });
            });
         },
         djName(iId) { //todo: obtain curators from finder:act.saved[n]
            var aDj = this.feed.curators.find(c => c.id === iId);
            return aDj ? aDj.name : '??';
         },
         revDjs(i) {
            this.feed.curators.length = 0;
            for (let a of i)
               this.feed.curators.push({id: a.id, name: a.name});
         },
      },
   });
</script>

<script type="text/x-template" id="krm-tofeed">
   <krm-dropdown title="Add to feed"
                 ref="dropPane">
      <template #icon>&#x2795;&#x266c;</template>
      {{srcname}} heard on...
      <form onsubmit="return false"
            method="POST">
         <div class="box40vh box50vw uishowspc uibreakword">
            <label v-for="(a, aI) in feeds"
                   style="display:block">
               <input @input="flags[aI] = !flags[aI], feedSet[a.id] = $event.target.checked"
                      :checked="a.djs.find(c => c.id === src)"
                      :name="a.id" type="checkbox"
                      style="margin-right:0.5em"/>{{a.name}}</label></div>
         <button @click="update(), $refs.dropPane.hide()"
                 :disabled="flags.every(c => !c)"
                 title="Update feeds"
                 style="float:right; margin-top:0.25em"
                 >Update</button>
         <br>
      </form>
      <form onsubmit="this.reset(); return false"
            method="POST" autocomplete="off"
            style="margin-top:0.5em">
         <input @keydown.enter="add($event.target.value) || $event.preventDefault()"
                placeholder="New feed"
                name="new" type="text"
                style="width:10em"/></form>
   </krm-dropdown>
</script><script type="module">
   import * as Vue from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js"

   krm.app.component('krm-tofeed', {
      template: '#krm-tofeed',
      props: { feeds: Array, src: String, srcname: String },
      emits: [ 'djrev' ],
      data() { return { flags: [],
                        feedSet: {}, /* temporary */ } },
      computed: {
         kEmpty() { return /^\s*$/ },
      },
      methods: {
         add(iName) {
            if (this.kEmpty.test(iName) || this.feeds.some(c => c.name === iName))
               return false;
            this.feeds.unshift({name: iName, id: 'Fx'+ this.feeds.length,
                                saved: 'Today', played: null, schedule: null,
                                djs: [{name: this.srcname, id: this.src}], });
            return true;
         },
         update() {
            this.flags.fill(false);
            for (let aF of this.feeds) {
               if (!(aF.id in this.feedSet))
                  continue;
               var aDj = aF.djs.findIndex(c => c.id === this.src);
               var aLen = aF.djs.length;
               if (this.feedSet[aF.id]) {
                  if (aDj < 0)
                     aF.djs.push({name: this.srcname, id: this.src});
               } else if (aDj >= 0)
                  aF.djs.splice(aDj, 1);
               if (aF.djs.length !== aLen) {
                  aF.saved = 'Today';
                  if (aF.id === krm.s.feedRef.id)
                     this.$emit('djrev', aF.djs);
               }
            }
            this.feeds.sort((cA, cB) => cA.saved > cB.saved ? -1 : cA.saved < cB.saved ? 1 : 0);
         },
      },
   });
</script>

<script type="text/x-template" id="krm-upload">
   <form onsubmit="return false"
         method="POST"
         enctype="multipart/form-data">
      <div style="height:0; overflow:hidden">
         <input @input="readAudioFiles($event.target.files)"
                name="filename" accept="audio/*" type="file" required
                ref="fileSelect"/></div>
      <div style="float:right">
         <button v-show="upHide"
                 @click="$refs.fileSelect.click()"
                 type="button"
                 title="Upload new clip"
                 >Upload...</button>
         <button v-show="!upHide"
                 @click="upStop(), upClear()"
                 type="reset"
                 title="Cancel upload"
                 >&#x2a09;</button>
      </div>
      <template v-for="a in up.set">
         <div v-if="a.error"
              class="uired"
              >{{a.file}}: {{a.error}}</div></template>
      <div :class="{uihide: upHide}"
           style="width:max-content">
         <input v-model="up.name"
                placeholder="Clip name"
                name="title" type="text"
                style="margin-right:0.5em; width:14em"/>
         <button @click="aud.src ? upStop() : upPlay(up.set[0].buf)"
                 type="button"
                 :title="'Play '+ (upHide || up.set[0].file)"
                 style="margin-right:0.5em"
                 >{{aud.src ? '&#x25fc;' : '&#x25b6;'}}</button>
         <span style="margin-right:1em; font-size:80%"
               >{{upHide || Math.round(up.set[0].buf.duration)}}</span>
         <input :value="upHide || Math.round(up.set[0].buf.duration)"
                name="dur" type="hidden"/>
         <div style="margin-bottom:0.5em"></div>
         <input v-model="up.artist"
                placeholder="Artist"
                name="artist" type="text"
                style="margin-right:0.5em; width:12em"/>
         <input v-model="up.date"
                placeholder="Released"
                name="date" type="text"
                style="width:6.5em; margin-right:1em"/>
         <button @click="upStop(), $emit('post', up), upClear()"
                 :disabled="kEmpty.test(up.name) || kEmpty.test(up.artist) || kEmpty.test(up.date)"
                 title="Add clip"
                 >&#x2795; Clip</button>
      </div>
   </form>
</script><script type="module">
   import * as Vue from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js"

   krm.app.component('krm-upload', {
      template: '#krm-upload',
      props: { 'aud': Object },
      emits: [ 'playing', 'post' ],
      data() { return { upHide: true, up: {name:'', date:'', artist:'', set:[]}, } },
      computed: {
         kEmpty() { return /^\s*$/ },
      },
      methods: {
         chooseFile() {
            if (this.upHide)
               this.$refs.fileSelect.click();
         },
         readAudioFiles(iFiles) {
            if (iFiles.length < 1) {
               this.upHide = true;
               return;
            }
            this.up.set.length = 0;
            let aTot = iFiles.length;
            const fRead = cF => {
               let cFr = new FileReader();
               cFr.onloadend = () => {
                  let cSet = {file: cF.name, buf: null, error: null};
                  if (cFr.error) {
                     cSet.error = cFr.error.message;
                     this.up.set.push(cSet);
                     this.upHide = true;
                     return;
                  }
                  this.aud.ctx.decodeAudioData(cFr.result, cBuf => {
                     cSet.buf = cBuf;
                     this.up.set.push(cSet);
                     if (--aTot === 0)
                        this.upHide = false;
                  }, cErr => {
                     cSet.error = cErr.message;
                     this.up.set.push(cSet);
                     this.upHide = true;
                  });
               };
               cFr.readAsArrayBuffer(cF);
            };
            for (const aF of iFiles)
               fRead(aF);
         },
         upPlay(iBuf) {
            if (this.aud.src)
               return;
            this.$emit('playing');
            this.aud.src = this.aud.ctx.createBufferSource();
            this.aud.src.buffer = iBuf;
            this.aud.src.connect(this.aud.ctx.destination);
            this.aud.src.onended = c => {
               this.aud.src = null;
            };
            this.aud.src.start(0);
         },
         upStop() {
            if (this.aud.src)
               this.aud.src.stop(0);
         },
         upClear() {
            this.upHide = true;
            this.up.name = this.up.artist = this.up.date = '';
            this.up.set.length = 0;
         },
      },
   });
</script>

<script type="text/x-template" id="krm-dropdown">
   <div class="dropdn">
      <span @mousedown="handleToggle">
         <slot name="icon"></slot></span>
      <div v-show="shown"
           @mousedown="localMd = true"
           title="">
         <slot></slot></div>
   </div>
</script><script type="module">
   import * as Vue from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js"

   krm.app.component('krm-dropdown', {
      template: '#krm-dropdown',
      emits: [ 'open' ],
      data() { return { shown: false, localMd: false } },
      beforeMount() {
         window.addEventListener('mousedown', this.handleWinMd);
         window.addEventListener('keyup', this.handleWinKey);
      },
      unmounted() {
         window.removeEventListener('mousedown', this.handleWinMd);
         window.removeEventListener('keyup', this.handleWinKey);
      },
      methods: {
         hide() { this.shown = false },
         handleToggle() {
            if (this.shown)
               return;
            this.shown = this.localMd = true;
            this.$emit('open');
         },
         handleWinMd() {
            if (this.localMd)
               this.localMd = false;
            else
               this.shown = false;
         },
         handleWinKey(iEvt) {
            if (iEvt.key === 'Escape')
               this.shown = false;
         },
      },
   });
</script>


</body></html>
