

body {
   font-size: 16px;
   color: #222;
   font-family: Roboto, "Noto Sans", "Helvetica Neue", "Segoe UI", sans-serif,
                "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

th { text-align: left }

td { vertical-align: top }

input[type=text],
textarea {
   border: 1px solid;
   border-color: #abadb3 #dbdfe6 #e3e9ef;
   border-radius: 2px;
   font-family: Consolas, Menlo, Monaco, monospace;
   font-weight: bold;
   font-size: 100%;
   box-sizing: border-box;
}

input[type=text]:focus,
textarea:focus {
   outline: 2px solid lightgray;
}

.uihide { visibility: hidden }

.uipoint { cursor: pointer }

.uibold { font-weight: bold }

.uitalic { font-style: italic }

.uifont80 { font-size: 80% }

.uired { color: red }

.uialignr { text-align: right }

.uivalignm { vertical-align: middle }

.uishowspc { white-space: break-spaces }

.uilink {
   cursor: pointer;
   font-weight: bold;
   color: blue;
}
.uilink.uibrdr {
   border: 1px solid blue;
   border-radius: 5px;
   padding: 0.2em 0.5em;
}

.tabset2 {
   display: inline-block;
   margin-bottom: 0.5em;
   border-bottom: 1px solid gray;
   padding: 0 0 0.5em 1em;
}
.tabset2 > span {
   display: inline-block;
   margin-right: 1em;
   min-width: 1.5em;
   cursor: pointer;
   white-space: break-spaces;
}

.tabmargr { margin-right: 1em }

.tabshow {
   border-top: 2px solid lightblue;
   cursor: default !important;
}

tr.inunpub { box-shadow: inset 0 4em #ed5 }
tr.inhide  { box-shadow: inset 0 4em gainsboro }
