

body {
   --bga: #1b0055;
   --fga: #c0c0dd;
   --fgb: #222;
   --fgl: #5599ff;
   --bdr: gray;

   background-color: var(--bga);
   font-size: 16px;
   color: var(--fga);
   font-family: Roboto, "Noto Sans", "Helvetica Neue", "Segoe UI", sans-serif,
                "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

th { text-align: left }

td { vertical-align: top }

ul { padding-left: 1.5em }

input[type=text],
textarea {
   border: 1px solid;
   border-color: #abadb3 #dbdfe6 #e3e9ef;
   border-radius: 2px;
   font-family: Consolas, Menlo, Monaco, monospace;
   font-weight: bold;
   font-size: 100%;
   box-sizing: border-box;
}

input[type=text]:focus,
textarea:focus {
   outline: 2px solid lightgray;
}

.uihide { visibility: hidden }

.uipoint { cursor: pointer }

.uibold { font-weight: bold }

.uitalic { font-style: italic }

.uifont80 { font-size: 80% }

.uired { color: #f33 }

.uialignr { text-align: right }

.uivalignm { vertical-align: middle }

.uishowspc { white-space: break-spaces }

.uibreakword { word-break: break-word }

.uilink {
   cursor: pointer;
   font-weight: bold;
   color: var(--fgl);
}
.uilink.uibrdr {
   border: 1px solid var(--fgl);
   border-radius: 5px;
   padding: 0.1em 0.4em;
}

button.ui {
   margin: 0;
   border: 1px solid darkgray;
   border-radius: 4px;
   padding: 2px 5px;
   background-color: gainsboro;
   color: black;
   font-size: 13px;
}
button.ui:disabled {
   opacity: 0.55;
   color: var(--fgb);
}
button.ui:active:hover:not(:disabled) {
   background-color: var(--fgl);
   color: white;
}

.box40vh {
   max-height: 40vh;
   overflow-y: auto;
}
.box40vh > .uisep {
   margin-top: 0.13em;
   border-top: 1px solid darkgray;
}

.box35vw {
   width: max-content;
}
.box35vw > label {
   display: block;
}
.box35vw > label > input {
   float: left;
   margin: 0.35em 0.5em 0 0;
}
.box35vw > label > div {
   display: inline-block;
   max-width: 35vw;
}

.tabset {
   position: fixed;
   left: 0.5em;
   right: 0.5em;
   top: 0;
   z-index: 10;
   border-bottom: 1px solid var(--bdr);
   padding: 0.5em 0;
   background-color: var(--bga);
}
.tabset > span,
.tabset > div > span {
   margin-right: 1em;
   border-top: 2px solid transparent;
   cursor: pointer;
}
.tabset > span:last-of-type,
.tabset > div > span:last-child {
   margin-right: 0;
}

.tabset2 {
   display: inline-block;
   margin-bottom: 0.5em;
   border-bottom: 1px solid var(--bdr);
   padding: 0 0 0.25em 1em;
}
.tabset2 > span {
   display: inline-block;
   margin-right: 1em;
   margin-bottom: 0.25em;
   min-width: 1.5em;
   border-top: 2px solid transparent;
   cursor: pointer;
   white-space: break-spaces;
}

span.tabshow {
   border-color: lightblue !important;
   cursor: default !important;
}

.menutab {
   box-sizing: border-box;
   min-width: 4em;
   border: 2px solid transparent;
   border-bottom-style: none;
   border-radius: 5px 5px 0 0;
   padding: 0 2px;
   cursor: pointer;
}
.menutab.tabshow {
   border-color: lightblue;
   cursor: default;
}

table.checklist > tr > td > label {
   margin-bottom: 0.25em;
   display: block;
}

.checkset > label {
   margin-right: 1em;
   display: inline-block;
}

.person {
   display: inline-block;
   margin-right: 0.5em;
   margin-bottom: 0.15em;
   padding: 0.25em;
   background-color: lightgray;
   color: var(--fgb);
}
td > .person {
   margin-right: 0.25em;
   padding: 0 0.25em 0.1em;
}
.person.uifade { opacity: 0.6 }
.person.uilink {
   font-weight: normal;
   color: #0055ff;
}

.tag {
   padding: 2px;
   background-color: #f8f8aa;
   color: var(--fgb);
}

table.hlrow { border-collapse: collapse }

table.hlrow > tr > th,
table.hlrow > tr > td {
   border-left:  1em solid transparent;
   border-right: 1em solid transparent;
}

table.hlrow > tr > td:first-child { border-radius: 4px 0 0 4px }
table.hlrow > tr > td:last-child  { border-radius: 0 4px 4px 0 }

tr.hlunpub > td { color: var(--fgb); background-color: #ed5 }
tr.hlhide  > td { color: var(--fgb); background-color: #ddd9 }
tr.hlplay  > td { color: var(--fgb); background-color: #cdf }

.dropdn {
   position: relative
}
.dropdn > :first-child {
   cursor: pointer;
   user-select: none;
}
.dropdn.uihide > :first-child {
   display: none;
}
.dropdn > :nth-child(2) {
   position: absolute;
   right: 0;
   top: 100%;
   z-index: 1;
   box-shadow: 5px 5px 5px #323;
   border: 1px solid #bbb;
   border-radius: 6px 0 6px 6px;
   background-color: #f6f6f6;
   padding: 0.5em;
   color: var(--fgb);
}
.dropdn.uileft0 > :nth-child(2) {
   left: 0;
   right: auto;
}

.logo {
   height: 64px;
   border: 2px solid lightgray;
   border-radius: 50%;
   padding: 8px;
   background-color: #2020aa;
   font-size: 32px;
   color: white;
}
.logo > span {
   vertical-align: middle;
   vertical-align: -webkit-baseline-middle;
}

table.circle { border-spacing: 1em 0.25em }
table.circle.uisep { border-spacing: 1em 1px }

table.circle.uisep > tr:nth-child(n+2) > td[colspan] { border-top: 0.25em solid transparent }

.circle-invite {
   border: 2px solid var(--bdr);
   border-radius: 6px;
   padding: 0.5em;
   background-color: #f6f6f6;
   color: var(--fgb);
}

.circle-feedn { /* displays next to .person */
   margin-right: 0.5em;
   border-right: 2px solid darkgray;
   padding: 0.25em;
}

.version {
   border: 1px solid var(--bdr);
   border-radius: 6px;
   padding: 0.5em;
}

.default-page {
   color: var(--fga);
   text-align: center;
}
