---
---

@import "{{ site.theme }}";

h1 { display: none } /* hide banner "website" */

body {
   background-color: wheat;
}
.markdown-body {
   background-color: #ffd;
   max-width: 912px;
   padding-top: 32px;
   padding-bottom: 32px;
   margin-top: 0 !important;
   margin-bottom: 8px !important;
}
.markdown-body hr {
   background-color: wheat;
}
.markdown-body img {
   background-color: inherit;
}
